@{
    ViewData["Title"] = "Home";
}


<div class="welcome-container">
    <div class="welcome-overlay">
        <h1 class="welcome-title">Welcome to AccountKeep</h1>
        <p class="welcome-subtitle">
            A simple and secure way to manage accounts and transactions.
        </p>
    </div>
</div>
